<%- include('header') -%>

    <div class="box">
        
        <h1 class="heading"><%= kindOfDay %></h1>

        <div class="list">
            
            <% for (var i = 0 ; i<listItems.length ; i++) { %>
                <div class="lst">
                    <input type="checkbox">
                    <p class="item"><%= listItems[i] %></p>
                </div>
            <% } %> 
        

            <form class="form" action="/" method="POST">
                <input type="text" name="newItem" autocomplete="off"  placeholder="New Item">
                <input type="submit" name = "personal" value="+">
            </form>

            
           
        </div>

        <div class="swap">
            <form action="/work">
                <input class = "heading" type="submit" name = "Personal" value="Move to Work List">
            </form>
        </div>

    </div>

    
<%- include('footer') -%>