<%- include('header') -%>

    <div class="box">
        
        <h1 class="heading"><%= kindOfDay %></h1>

        <div class="list">
            
            <% for (var i = 0 ; i<workItems.length ; i++) { %>
                <div class="lst">
                    <input type="checkbox">
                    <p class="item"><%= workItems[i] %></p>
                </div>
            <% } %> 
        

            <form class="form" action="/" method="POST">
                <input type="text" name="newItem" autocomplete="off"  placeholder="New Item">
                <input type="submit" name = "work" value="+">
            </form>
           
        </div>

        <div class="swap">
            <form action="/">
                <input class = "heading" type="submit" name = "Personal" value="Back">
            </form>
        </div>

    </div>

<%- include('footer') -%>